* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-size: 1rem;
  min-height: 100vh;
  min-width: 100vw;
}

div.barra-lateral {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

div.principal {
  flex-grow: 1;
  padding: 10px;
}

@media (max-width: 639px) {
  body {
    flex-direction: column-reverse;
  }

  div.barra-lateral {
    flex-direction: row;
    justify-content: space-evenly;
  }
}